.data-container {
    text-align: center;
}

.input-search {
    margin-top: 15px;
    border: 1px solid grey;
    border-radius: 3px;
}

.data-table {
    margin: 45px auto;
    border: solid 1px #ddeeee;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 16px 'Open Sans', sans-serif;
}

.data-table thead th {
    border-bottom: solid 1px #ddeeee;
    cursor: pointer;
    color: rgba(88, 88, 88, 0.97);
    padding: 10px 50px 10px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.data-table tbody td {
    border-bottom: 1px solid #ddeeee;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.data-table tbody tr:hover {
    background-color: #efefef;
}

.data-table thead th:hover {
    background-color: #efefef;
}

.icon-sort {
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.icon-sort-asc {
    background: url("../resources/order-ascending.svg") no-repeat;
}

.icon-sort-desc {
    background: url("../resources/order-descending.svg") no-repeat;
}

